@inject IRepository repository

<div class="card">
    <div class="card-body">
        <form>
          <div class="form-group">
            <label for="itemName">Name</label>
            <input type="text" class="form-control" 
                    name="itemName"
                    placeholder="Name"
                    @bind="@Item.Name">
          </div>
          <div class="form-group">
            <label for="itemDescription">Description</label>
            <input type="text" class="form-control" 
                    name="itemDescription"
                    placeholder="Description"
                    @bind="@Item.Description">
          </div>
          <div class="form-group">
            <label for="itemQuantityPerAdult">Quantity Per Adult</label>
            <input type="number" class="form-control" 
                    name="itemQuantityPerAdult"
                    placeholder="QuantityPerAdult"
                    @bind="@Item.QuantityPerAdult">
          </div>
          <div class="form-group">
            <label for="itemQuantityPerChild">Quantity Per Child</label>
            <input type="number" class="form-control" 
                    name="itemQuantityPerChild"
                    placeholder="QuantityPerChild"
                    @bind="@Item.QuantityPerChild">
          </div>
          <div class="form-group">
            <label for="itemQuantityPerPet">Quantity Per Pet</label>
            <input type="number" class="form-control" 
                    name="itemQuantityPerPet"
                    placeholder="QuantityPerPet"
                    @bind="@Item.QuantityPerPet">
          </div>
          <div class="form-group">
            <label for="itemQuantityUnit">Quantity Unit (lbs, oz)</label>
            <input type="text" class="form-control" 
                    name="itemQuantityUnit"
                    placeholder="QuantityUnit"
                    @bind="@Item.QuantityUnit">
          </div>
        </form>
      </div>
</div>

@code {
    [Parameter]
    public BaseKitItem Item { get; set; }
}
